%container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  background-image: linear-gradient(225deg, $color_init_gradient 0%, $color_end_gradient 100%);
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color_secondary;
  }
}
%footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color_secondary;
  color: $color_primary;
}
.container {
  &-shaped-top-end {
    @extend %container;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    @media screen and (max-width: $smallPC-max-width) {
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    @media screen and (max-width: $mobile-max-width) {
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    &-content {
      margin: 1rem 3rem 15%;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 3rem;
      @media screen and (max-width: $smallPC-max-width) {
        margin: 1rem 2rem 20%;
      }
      @media screen and (max-width: $mobile-max-width) {
        justify-content: center;
        margin: 1rem 1rem 30%;
        grid-template-columns: auto;
      }
    }
    &-title {
      margin: 10% 10rem 1rem;
      justify-content: end;
      @media screen and (max-width: $mobile-max-width) {
        margin: 25% 1rem 1rem;
      }
    }
    z-index: 0;
  }
  &-shaped-top {
    @extend %container;
    justify-content: center;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    @media screen and (max-width: $mobile-max-width) {
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    &-content {
      margin: 1rem 3rem 15%;
      display: flex;
      align-content: center;
      justify-content: center;
      @media screen and (max-width: $smallPC-max-width) {
        margin: 1rem 2rem 20%;
      }
      @media screen and (max-width: $mobile-max-width) {
        justify-content: center;
        margin: 1rem 1rem 30%;
        grid-template-columns: auto;
      }
    }
    &-title {
      margin: 10% 10rem 1rem;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: $mobile-max-width) {
        margin: 25% 1rem 1rem;
      }
    }
    button {
      width: 20rem;
    }
  }
  &-intro {
    margin: 5% 10rem;
    text-align: left;
    @media screen and (max-width: $mobile-max-width) {
      margin: 25% 1rem 1rem;
    }
    &-title {
      margin: 1rem 0;
      align-items: center;
      justify-content: center;
    }
    &-content {
      text-align: left;
      padding: 0 50% 0 0;
      @media screen and (max-width: $mobile-max-width) {
        margin: 0 5% 0;
        padding: 0;
      }
    }
    button {
      margin-top: 2rem;
      width: 15rem;
    }
  }
  &-description {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    align-content: space-around;
    margin: 0 10% 0;
    &-title {
      margin: 1rem 0 1rem;
    }
    &-content {
      text-align: left;
      margin: 2rem;
      padding: 5rem;
      @media screen and (max-width: $mobile-max-width) {
        margin: 0 5% 0;
        padding: 0;
      }
    }
    &-phone {
      img {
        position: relative;
        height: 660px;
        z-index: 50;
        margin: -25% 0 0;
        @media screen and (max-width: $mobile-max-width) {
          width: 100%;
          height: auto;
        }
      }
    }
    @media screen and (max-width: $tablet-max-width) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }
  &-topics {
    //TODO: css for topics section
  }
  &-gallery {
    &-title {
      margin: 1rem 10rem;
      @media screen and (max-width: $mobile-max-width) {
        margin: 1rem 5%;
      }
    }
    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      img {
        width: 33.3%;
      }
      @media screen and (max-width: $mobile-max-width) {
        flex-direction: column;
        img{
          width: 100%;
        }
      }
    }
  }
}
.footer {
  @extend %footer;
  padding: 2rem 10% 2rem;
  display: flex;
  flex-flow: row column;
  justify-content: space-between;
  text-align: center;
  @media screen and (max-width: $mobile-max-width) {
    i {
      font-size: 16px;
    }
  }
}
iframe {
  border: 0px;
  height: 232px;
  width: 100%;
}
button {
  border: none;
  background-color: $color_button;
  width: max-content;
  height: 3rem;
  &:hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  }
}
