$color_primary: #060A24;
$color_secondary: #ffffff;
$color_button: #00F3BB;
$color_change: #0000EC;
$color_init_gradient: #0000FF;
$color_end_gradient: #0000A3;
$color_burger:#0000EC;
$min-width: 320px;
$mobile-max-width: 600px;
$tablet-max-width: 900px;
$smallPC-max-width: 1200px;
